* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: flex;
    background-color: white;
    gap: 15px;
    align-items: center;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
    h1 {
        flex-grow: 1;
    }
    img {
        height: 50px;
    }
    .btn {
        color: black;
        text-decoration: none;
        transition: 0.5s;
    }
    .btn:hover {
        transition: 0.5s;
        color: red;
        cursor: pointer;
    }
}

.container {
    padding: 5px 100px;
}

body {
    background-color: rgb(128, 160, 183);
}

.login {
    margin: 30vh auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 300px;
    padding: 50px 20px;
    gap: 15px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTx5IIbOocl_kZRgOV2sUpQn_SNpr7W9h_lg&s');
    background-size: cover;
    color: white;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
    .form-name {
        font-size: 25px;
        margin-bottom: 20px;
    }
    input {
        background: none;
        color: white;
        border: none;
        border-bottom: 1px solid white;
        max-width: 250px;
    }    
    button {
        padding: 0px 10px;
    }
    .double-element {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
}